$white: #ffffff;
$color-primary: #C49000;
$color-secondary: #0d247d;
$color-mild-pink: #F6F1F9;
$color-gray: #F5F5F5;
$color-gray-alt: #848484;
$color-black: #282828;
$color-secondary-alt: #0d247d;
$color-green: #219653;
$color-white-alt: #f8f8f8;
$color-green: #326D16;
$color-dark-blue: #394777;
$color-orange: #E48524;
$color-blue: #668AED;
$color-seance: #0d247d;
$color-pizza: #C49000;
.b-b {
  color: $color-black;
}
